/*======================= importacion de fuentes ============================ */

/* Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Overpass */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/*====================================== Global reset  ===================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: 1px solid lightcoral;
}

html {
  font-family: Rubik, sans-serif;
  color: var(--color-creme-light);
}

img {
  width: 100%;
  /* height: 100%; 	 */
  display: block;
}

ul {
  list-style: none;
}

/*=============== Estilos del body para dar forma a la page  ================================== */

body {
  min-height: 101dvh;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  padding: 0 3rem;
  background-color: var(--color-blue-dark);

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

h1 {
  background-color: var(--color-blue-dark);
  font-family: Overpass;
  padding-block: 2rem;
  color: var(--color-yellow);
  font-size: 2.5rem;
  text-align: center;
}

/*====================================== Colores  ===================================== */
:root {
  --color-blue-dark: #01182f;
  --color-blue: #083358;
  --color-blue-light: #0d63a5;
  --color-yellow: #ffd717;
  --color-dark-gray: rgba(31, 31, 31, 0.9);
  --color-creme: #fffdef;
  --color-creme-light: #fcfaf8;
}

/*======================================  header ===================================== */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue-light);
}

.header-logo-box {
  > img {
    padding: 0 1rem;
    object-fit: contain;
    max-height: 100%;
  }
}

header ul {
  height: 100%;
  display: flex;
}

header li {
  display: table;
  font-family: Oswald, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;

  > a {
    letter-spacing: 0.05rem;
    padding-inline: clamp(0.8rem, 4vw, 2rem);
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    display: table-cell;
  }

  > a:hover {
    background-color: #2d83b5;
  }
}

.nav-button--active {
  background-color: #2d83b5;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 0;
}

/*====================================== footer  ===================================== */

footer {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #000;
  color: var(--color-creme-light);

  a {
    color: var(--color-blue-light);
  }
}

/*====================================== page Home  ===================================== */

.home-hero {
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-blue-light);
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;

  @media screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: min-content minmax(300px, max-content);
    column-gap: 2rem;
    align-items: center;
  }

  > * {
    border: 2px solid #aaa;
  }

  h1 {
    text-align: left;
    font-size: 2.5rem;
    /* color: var(--color-yellow); */
    background-color: #000;
    padding: 1rem 2rem;
  }

  p {
    font-weight: 500;
    line-height: 1.5;
    background-color: #000;
    padding: 2rem;
    font-family: "Courier New", Courier, monospace;
    color: #fcfaf8;
    text-wrap: pretty;
  }
}

/*====================================== Page projects  ===================================== */

.projects-intro-p {
  padding-inline: 1rem;
}

.projects {
  margin-block: 3rem;
  color: var(--color-creme-light);
  border: 1px solid var(--color-creme-light);
  border-radius: 0.5rem;
  overflow: hidden;
}

.project {
  border: 1px solid var(--color-creme-light);
  background-color: #000;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.project-title {
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 2;

  span {
    font-weight: 900;
    font-size: 1rem;
    margin-left: auto;
    transition: transform 0.5s ease;
  }

  span.open {
    transform: rotate(45deg);
  }
}

.project-content {
  padding: 1rem 2rem;
  padding-block: 2rem;

  display: grid;
  grid-template-rows: 1fr max-content max-content max-content;
  transition: grid-template-rows 0.5s ease;

  row-gap: 3rem;
}

.project-content[aria-hidden="true"] {
  padding-block: 0;
  row-gap: 0;
  grid-template-rows: 0fr 0fr 0fr 0fr;
}

.project-content > * {
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  /* font-weight: 900; */
}

.project-content-imgs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  figure {
    display: flex;
    flex-direction: column;
    img {
      flex-grow: 1;
      border-radius: 0.5rem;
      object-fit: contain;
      max-height: 200px;
    }

    figcaption {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      font-family: Rubik, sans-serif;
      color: var(--color-creme-light);
      text-align: center;
    }
  }
}

.project-content-techs {
  display: flex;
  align-items: end;

  /* > p {
  } */

  .techs {
    margin-left: 2rem;
    display: inline-flex;
    column-gap: 1.5rem;
    img {
      max-width: 2rem;
    }
  }
}

.project-content-link {
  > p {
    display: inline-block;
  }

  > a {
    margin-left: 0.5rem;
    color: #2d83b5;
  }
}

/*====================================== page Skills  ===================================== */

.skills-container-grid {
  max-width: 100ch;
  margin: 0 auto;
}

.skill {
  margin-bottom: 2rem;

  @media screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
  }
}

.skill-img {
  max-height: 200px;
  object-fit: contain;
  padding: 1rem;
}

.skill-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  > h2 {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-block: 1rem;
    color: var(--color-creme-light);
  }

  > p,
  li {
    color: var(--color-creme-light);
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 65ch;
    text-wrap: pretty;
  }

  li {
    margin-block: 0.3rem;
  }
}

/*====================================== Page Contact  ===================================== */

.contact-form {
  background-color: #000;
  padding: 1rem 1rem;
  font-family: "Courier New", Courier, monospace;
  max-width: 70ch;
  margin: 0 auto;
  border: 2px solid var(--color-creme-light);
  border-radius: 0.3rem;

  @media screen and (min-width: 500px) {
    padding: 1rem 3rem;
  }
}

.form-input {
  margin-block: 1rem;
  display: grid;

  > * {
    font-family: "Courier New", Courier, monospace;
    padding: 0.3rem 0.4rem;
  }

  > textarea {
    min-height: 8rem;
    resize: vertical;
  }

  > [type="submit"] {
    font-weight: 900;
    color: var(--color-creme);
    background-color: var(--color-blue);
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
  }

  > [type="submit"]:hover {
    background-color: var(--color-blue-light);
  }

  > [type="submit"]:active {
    background-color: var(--color-yellow);
    color: #000;
  }
}
